{{> head }}
    {{> navbar }}

    <div class="row" style="margin: 0px !important;">
        <div class="col-9">
            <h1>Wolverine</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque iste tempore eum architecto incidunt voluptatum eligendi, quo laudantium! Enim facilis praesentium tempore? Magnam pariatur voluptatum eligendi commodi repellendus quidem?</p>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere placeat, ducimus doloremque illo aspernatur est fugit ab tempore impedit dolores fuga reprehenderit sed eos sapiente vel veritatis corrupti id. Nesciunt.</p>
        </div>

        <div class="col-3 text-center">
            <img src="/assets/img/marvel-wolverine.jpg" alt="Wolverine" class="img-thumbnail" style="width: 300px;">
        </div>
    </div>

{{> footer }}
